#home-page-container,
#bpm-page-container,
#tuner-page-container,
#about-page-container {
  height: 100vh;
}

#home-page-container {
  background: linear-gradient(
    to bottom right,
    var(--primary-color) 85%,
    var(--secondary-color) 40%
  );
}

#bpm-page-container {
  background: linear-gradient(
    to bottom right,
    var(--primary-color) 35%,
    var(--secondary-color) 0%
  );
}

#tuner-page-container {
  background: linear-gradient(
    to top right,
    var(--primary-color) 30%,
    var(--secondary-color) 0%
  );
}

#about-page-container {
  background: linear-gradient(
    to top right,
    var(--primary-color) 80%,
    var(--secondary-color) 40%
  );
}

.home-page,
.bpm-page,
.tuner-page,
.about-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-page-options-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  margin: 2rem;
  padding: 2rem;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  color: black;
  text-decoration: none;
}

.home-page-options-item:hover {
  transform: scale(1.05);
}
