* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--primary-color);
  --primary-color: #ffac4a;
  --secondary-color: #ffca8b;
  --primary-text: rgb(0, 0, 0);

  scroll-behavior: smooth;
}
